Source: canaima-webapps
Section: unknown
Priority: extra
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: Carlos Espinoza <carlosarmikhael@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.1
#Homepage: http://canaima.softwarelibre.gob.ve/
#Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-webapps.git
#Vcs-Browser: git://gitorious.org/canaima-gnu-linux/canaima-webapps.git

Package: canaima-webapps
Architecture: all
Depends: python, ${shlibs:Depends}, ${misc:Depends}
Description: Canaima Aplicaciones web.
 Canaima-webapps es una aplicación que crea iconos de accesos directos a redes sociales.
 Facebook, GMail, Twitter y YouTube.
