[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Facebook
Icon=facebook
Comment= Página de incio: http://www.facebook.com
Exec=webapps-facebook
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupNotify=False
Name[es_VE]=Facebook
