[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Twitter
Icon=twitter
Comment=Página de incio: http://www.twitter.com
Exec=webapps-twitter
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupNotify=False
Name[es_VE]=Twitter
